.contact-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Дополнительно: расстояние между кнопками */
  }
  
  .modal-content {
    text-align: center; /* Для центровки текста */
    font-family: 'Arial', sans-serif;
  }

  .modal-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
  .contact-icons img {
    width: 30px;
    height: 30px;
}
.feedback-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
.error-message {
  font-size: 12px;
  color: red;
}