

.header {
    width: 100%;
    font-family: Arial;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; 
    color: #000000; 
    z-index: 1000;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для отделения от контента */
  } */


  .header-logo {
    display: block;
    text-align: start;
}

    .logo-image {
        width: 330px;
    }
    .header-slogan {
        margin-top: -0.1rem;
        font-size: 1.62rem;
    }

  
  .header-contacts {
    display: block;
    margin:20px;
}
  
  .header-contacts p {
    margin-right: 10px;
  }
  
  .contact-icon {
    /* width: 24px;
    height: 24px; */
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: transform 0.2s; /* Анимация при наведении */
    position: relative; /* Для позиционирования подсказки */
  }

  .header-contacts a {
    color: #000000; 
    text-decoration: none; 
    margin-right: 10px;
    font-size: 30px;
    transition: transform 0.2s;
  }

  /* .contact-icon {
    width: 40px;
    height: 40px;
  } */
  
  .contact-icon:hover {
    transform: scale(1.2); /* Увеличение при наведении */
  }
  
  .contact-icon::after {
    content: attr(data-tooltip); /* Содержимое подсказки */
    position: absolute;
    bottom: 100%; /* Позиционирование над иконкой */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000; /* Цвет фона подсказки */
    color: #fff; /* Цвет текста подсказки */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0; /* Скрытие подсказки по умолчанию */
    transition: opacity 0.2s; /* Анимация при наведении */
    pointer-events: none; /* Чтобы подсказка не перекрывала иконку */
    font-size: 12px;
  }
  
  .contact-icon:hover::after {
    opacity: 1; /* Показ подсказки при наведении */
  }
  
  .header-language-switcher {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    /* margin: 20px; */
    /* text-align: end; */
    justify-content: space-around;
}
  
  .language-selected {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .globe-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  
  .language-dropdown {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .language-dropdown li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .language-dropdown li:hover {
    background-color: #f0f0f0;
  }
  

  .div_icons {
    display: flex;
  }
  .header-contacts a {
    text-decoration: none; /* Убирает подчеркивание текста */
    margin-right: 10px;
    font-size: 30px;
    position: relative; /* Для позиционирования подсказки */
    transition: transform 0.2s; /* Анимация при наведении */
  }
  
  .header-contacts a:hover {
    transform: scale(1.2); /* Увеличение при наведении */
  }
  

  
  .contact-icon:hover {
    transform: scale(1.2); /* Увеличение при наведении */
  }
  
  .contact-link{
    color: #000000; 
  }


  a.contact-link-infooter {
    color: #000000 !important; 
  }
  
  .tooltip {
    visibility: hidden;
    background-color: #000; /* Цвет фона подсказки */
    color: #fff; /* Цвет текста подсказки */
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%; /* Позиционирование над элементом */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Скрытие подсказки по умолчанию */
    transition: opacity 0.3s; /* Анимация при наведении */
    font-size: 12px;
    white-space: nowrap;
  }
  
  a:hover .tooltip {
    visibility: visible;
    opacity: 1; /* Показ подсказки при наведении */
  }

  .contact-btn {
    display: none;
  }

   @media (min-width: 1025px) and (max-width: 1199px) {
    .contact-btn {
      text-align: center;
      height: 3rem;
      width: 9rem;
      display: block;
      margin: 0.4rem;
      border: 1px solid;
      background-color: white;
      font-size: 1.2rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
    
    .contact-link {
      display: none;
    }

      .header {
        padding: 0%;
      }
      .logo-image {
        width: 10rem;
      }
      .header-slogan {
        display: none;
    }
      
      .header-contacts a {
          font-size: 26px;
      }
      .contact-icon {
          width: 35px;
          height: 35px;
      }
      .header-language-switcher {
        font-size: 2rem;
      }
      .header-slogan {
        display: block;
        font-size: 0.8rem;
    }
      
      }
  


  @media (min-width: 769px) and (max-width: 1024px) {
    .contact-btn {
      text-align: center;
      height: 3rem;
      width: 9rem;
      display: block;
      margin: 0.4rem;
      border: 1px solid;
      background-color: white;
      font-size: 1.2rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
    
    .contact-link {
      display: none;
    }
    .header {
      padding: 0%;
    }
      .logo-image {
        width: 10rem;
      }
      .header-slogan {
        display: none;
    }
      
      .header-contacts a {
          font-size: 26px;
      }
      .contact-icon {
          width: 35px;
          height: 35px;
      }
      .header-language-switcher {
     
        font-size: 1.5rem;
      }
      .header-slogan {
        display: block;
        font-size: 0.8rem;
    }
      }
  

@media (min-width: 481px) and (max-width: 768px) {
  .contact-btn {
    text-align: center;
    height: 3rem;
    width: 9rem;
    display: block;
    margin: 0.4rem;
    border: 1px solid;
    background-color: white;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
  
  .contact-link {
    display: none;
  }
  .header {
    padding: 0%;
  }
    .logo-image {
      width: 7rem;
    }
    .header-slogan {
      display: none;
  }
    
    .header-contacts a {
        font-size: 16px;
    }
    .contact-icon {
        width: 25px;
        height: 25px;
        margin-right: 0;
    }
    .header-language-switcher {
      font-size: 1.2rem;
    }
    
    }

 
    @media (max-width: 480px) {
      .header {
        padding: 0;
      }
      .contact-btn {
        text-align: center;
        height: 3rem;
        width: 14rem;
        display: block;
        margin: 0.5rem;
        border: 1px solid;
        background-color: white;
        font-size: 1.2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
      
      .contact-link {
        display: none;
      }
      .logo-image {
        width: 13rem;
      }
      .header-slogan {
        display: block;
        font-size: 1rem;
    }
    .header-contacts,
    .header-language-switcher {
      display: block;
    }
    .burger_menu_content_active {
      display: flex;
      flex-direction: column-reverse;
  }
    }
  
